@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    background-image: url("./background.png");
    /* background: linear-gradient(135deg, #9DD1DF 0%, #F8A29C 100%); */
    display: flex;
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    object-fit: cover;

}

/* to remove scroll bar */
::-webkit-scrollbar{
    width:0px;
}
::webkit-scrollbar-thumb{
    background-color: rgba(136,136,136,0.281);
}

::webkit-scrollbar-thumb:hover{
    background: #555;
}
/* https://img.freepik.com/premium-photo/background-beautiful-wallpaper-hd-best-quality-hyper-realistic-colorful-image_1078161-1379533.jpg?size=626&ext=jpg&ga=GA1.1.323388781.1717435535&semt=ais_user */
/* https://images.unsplash.com/photo-1513977911461-891dadb252ab?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
/* https://img.freepik.com/premium-photo/background-beautiful-wallpaper-hd-best-quality-hyper-realistic-colorful-image_1078161-1379533.jpg?size=626&ext=jpg */
/* https://img.freepik.com/premium-photo/soft-backdrop-gradient-with-pastel-colors_2101-412.jpg?size=626&ext=jpg&ga=GA1.1.323388781.1717435535&semt=ais_user */
